importFrom("graphics", "abline", "image", "plot")
importFrom("stats", "dnorm", "uniroot")

export(calculate.integrated.llk_scaled)
export(calculate.integrated.llk_scaled_additive)
export(calculate.integrated_1d_llk_scaled)
export(calculate.llk.grid.wrapper)
export(calculate.llk.grid_scaled)
export(calculate.llk.grid_scaled_additive)
export(calculate_1d_llk_grid_scaled)
export(calculate_1d_prior)
export(calculate_prior_2d)
export(cc_d.llk)
export(cc_d.llk_additive)
export(cc_llk)
export(cc_llk_additive)
export(get.posterior.node)
export(get.posterior.node_1d)
export(get.posterior.node_additive)
export(prepare_count_table)
export(prepare_tree_table)
export(prepare_tree_table_grs)
